/* Your app styles here */
#app{
    touch-action: none;
}
.report-label{
    width: 100%;
}
.report-label .list .item-title{
    overflow: inherit;
}

.list .item-title{
    width: 100%;
}
.report-progress{
    top: 4px;
    left: -11px;
}
.md .navbar{
    background: white
}
.smart-select-page .navbar{
   background: #94C7D7; 
}
.navbar-inner{
    color: #3C3C3C;
}
.accordion-toggle{
    margin-left: 38%;
    margin-top: 15px
}
.item-title-day{
    font-size: 16px;
    padding-left: 16px;
    margin-top: 20px;
}
.item-title-month{
    font-size: 16px;
    padding-left: 16px;
    margin-top: 10px;
}
.item-after-amt{
    margin-bottom: 16px;
    text-align: left;
    top: 15px;
    font-size: 16px;
}
.item-title-progress{
    margin-top: 35px;
    padding-left: 16px;
}
.card-icon{
    width: 30px;
    height: 30px;
}

.item-title-comparison{
    font-size: 12px !important;
    height: unset !important;
    white-space: normal;
}
.media-comparison{
    margin-left: -25px;
    min-width: 10px;
}

.md .list .item-media{
    min-width: 0px;
}

.sales-page-card{
    line-height: unset !important;
    color: black !important;
    text-transform: unset !important;
    height: unset !important;
    text-align: unset !important;
}

.sales-number{
    color: green;
}

.invoice-number{
    color: blue;
}

.pie-chart{
    width: 300px;
}

.Toastify__close-button{
    width: unset !important ;
}

/* lineHeight:"unset",color:"black",textTransform:"unset", height:"unset" */